* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 30px;
	background-image: url(media/music-notes.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	float: right;
	text-align: center;
	width: 600px;
	margin: 100px 50px 20px auto;
	color: #69000e;
	text-shadow: 2px 1px #25080c;
}
#navigation {
	height: 300px;
	width: 300px;
	background-color: grey;
}
#info {
	height: 100px;
	width: 300px;
	background-color: beige;
	text-align: center;
}
#player {
	height: 300px;
	width: 300px;
	background-color: tan;
	margin: 0;
}
#audio {
	width: 300px;
}
#navigation h3 {
	padding-top: 20px;
	width: 100%;
	text-align: center;
}
input {
	background-color: black;
	color: white;
	font-size: 10px;
}
input #add {
	background-color: white;
}
h5 {
	color: white;
	margin: auto;
	font-size: 20px;
	width: 100px;
}

.fa {
	width: 30px;
	margin: 20px;
	float: left;
	color: #52000b;
	text-shadow: 2px 1px black;
}
